<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magiccardmarket bill splitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Magiccardmarket bill splitter</h1>
    <form id="mainForm">
        <div>
            <label for="emailContent">Email Content:</label><br>
            <textarea id="emailContent" name="emailContent" rows="10" cols="50"
                placeholder="Paste your email content from Magiccardmarket here"></textarea>
        </div>
        <button type="button" class="analyze-button" onclick="analyzeEmailField()">Analyze Email</button>
        <div id="textFieldsContainer">
            <div class="text-fields-container">
                <label for="buyerName1">Buyer 1 Name:</label><br>
                <input type="text" id="buyerName1" name="buyerName1" placeholder="default: Buyer 1">
                <br>
                <label for="textField1">Cards for the buyer:</label><br>
                <textarea id="textField1" name="textField1" rows="4" cols="50"
                    placeholder="Enter the cards for the buyer here"></textarea>
            </div>
        </div>
        <button type="button" class="add-button" onclick="addTextField()">Add buyer</button>
        <button type="button" class="analyze-button" onclick="analyzeBuyersFields()">Analyze Buyers</button>
        <button type="button" class="reset-button" onclick="clearFields()">Reset</button>
        <!-- <button type="button" class="save-button" onclick="saveFields()">Save</button> -->
        <br>
        <div id="visualizationContainer" style="margin-left: 20px; display: none; vertical-align: top;">
            <!-- data will be dynamically inserted here -->
            <div id="costsPerBuyerDiv" class="info-field"></div>
            <div id="cardsPerBuyerDiv" class="info-field"></div>
            <div id="notFoundCardsDiv" class="info-field"></div>
            <div id="spareCardsDiv" class="info-field"></div>
            <div id="shipmentDetailsDiv" class="info-field"></div>
            <div id="costsDiv" class="info-field"></div>
            <div id="cardsListDiv" class="info-field"></div>
            <div id="simpleCardsListDiv" class="info-field"></div>
        </div>
    </form>

    <script>
        let numBuyers = 1;

        function addTextField() {
            numBuyers++;
            const container = document.getElementById('textFieldsContainer');
            const newField = document.createElement('div');
            newField.className = 'text-fields-container';
            newField.innerHTML = `
                <label for="buyerName${numBuyers}">Buyer ${numBuyers} Name:</label><br>
                <input type="text" id="buyerName${numBuyers}" name="buyerName${numBuyers}" placeholder="default: Buyer ${numBuyers}">
                <br>
                <label for="textField${numBuyers}">Cards for the buyer ${numBuyers}:</label><br>
                <textarea id="textField${numBuyers}" rows="4" cols="50" name="textField${numBuyers}" placeholder="Enter the cards for the buyer ${numBuyers} here"></textarea>
            `;
            container.appendChild(newField);
        }

        async function saveFields() {
            const emailContent = document.getElementById('emailContent').value;

            const textFields = document.querySelectorAll('#textFieldsContainer textarea');
            const fieldsData = getBuyerFields();
            const dataToWrite = {
                emailContent: emailContent,
                buyers: fieldsData
            };

            try {
                const response = await fetch('/save_fields', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataToWrite)
                });
                if (response.ok) {
                    const result = await response.json();
                    console.log('Data saved successfully:', result);
                } else {
                    console.error('Error saving data:', response.statusText);
                    alert('Error saving data. Please try again.');
                }
            } catch (error) {
                console.error('Error saving fields:', error);
                alert('Error saving data. Please try again.');
            }
        }

        async function analyzeEmailField() {
            await saveFields();
            try {
                const response = await fetch('/analyze_email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ emailContent: document.getElementById('emailContent').value })
                });
                if (response.ok) {
                    const result = await response.json();
                    console.log('Email analyzed successfully:', result);
                    updateEmailContentInfo(
                        result.shipmentDetails,
                        result.costs,
                        result.cardsList,
                        result.simpleCardsList,
                    );
                    return result;
                } else {
                    console.error('Error analyzing email:', response.statusText);
                    alert('Error analyzing the e-mail. Please try again.');
                }
            } catch (error) {
                console.error('Error analyzing the e-mail:', error);
                alert('Error analyzing the e-mail. Please try again.');
            }
        }

        function updateEmailContentInfo(shipmentDetails, costs, cardsList, simpleCardsList) {
            const visualizationContainer = document.getElementById('visualizationContainer');
            const shipmentDetailsDiv = document.getElementById('shipmentDetailsDiv');
            const costsDiv = document.getElementById('costsDiv');
            const cardsListDiv = document.getElementById('cardsListDiv');
            const simpleCardsListDiv = document.getElementById('simpleCardsListDiv');

            let hasContent = false;

            if (Object.keys(shipmentDetails).length > 0) {
                shipmentDetailsJs = JSON.stringify(shipmentDetails, null, 2)
                shipmentDetailsDiv.innerHTML = `
                <h3>Shipment Details:</h3>
                <pre>${shipmentDetailsJs}</pre>
                `;
                hasContent = true;
            } else {
                shipmentDetailsDiv.innerHTML = '';
            }

            if (Object.keys(costs).length > 0) {
                costsJs = JSON.stringify(costs, null, 2)
                costsDiv.innerHTML = `
                <h3>Costs:</h3>
                <pre>${costsJs}</pre>
                `;
                hasContent = true;
            } else {
                costsDiv.innerHTML = '';
            }

            if (Object.keys(cardsList).length > 0) {
                cardsListJs = JSON.stringify(cardsList, null, 2)
                cardsListDiv.innerHTML = `
                <h3>Cards List:</h3>
                <pre>${cardsListJs}</pre>
                `;
                hasContent = true;
            } else {
                cardsListDiv.innerHTML = '';
            }

            if (Object.keys(simpleCardsList).length > 0) {
                const numDifferentCards = Object.keys(simpleCardsList).length
                const numTotalCards = Object.values(simpleCardsList).reduce((acc, val) => acc + val, 0)
                const simpleCardsListJs = JSON.stringify(simpleCardsList, null, 2)
                simpleCardsListDiv.innerHTML = `
                <h3>Simple Cards List - ${numDifferentCards} different cards , ${numTotalCards} total cards:</h3>
                <pre>${simpleCardsListJs}</pre>
                `;
                hasContent = true;
            } else {
                simpleCardsListDiv.innerHTML = '';
            }

            if (hasContent) {
                visualizationContainer.style.display = 'block';
            } else {
                visualizationContainer.style.display = 'none';
            }
        }

        async function analyzeBuyersFields() {
            const emailContent = await analyzeEmailField();
            if (!emailContent) {
                alert('Please analyze the email content first.');
                return;
            }
            const buyerFields = getBuyerFields();
            if (buyerFields.length === 0) {
                alert('Please enter at least one buyer field.');
                return;
            }

            try {
                const response = await fetch('/analyze_buyers', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        simpleCardsList: emailContent.simpleCardsList,
                        shipmentDetails: emailContent.shipmentDetails,
                        totalCosts: emailContent.costs,
                        buyers: buyerFields,
                    })
                });
                if (response.ok) {
                    const result = await response.json();
                    console.log('Buyers analyzed successfully:', result);
                    if (result.computationWasCorrect) {
                        updateCostsPerBuyer(result.costsPerBuyer);
                        updateCardsPerBuyer(result.cardsPerBuyer);
                        updateNotFoundInfo(result.notFoundCards);
                        updateSpareInfo(result.spareCards);
                    } else {
                        alert('The computation was incorrect! This is bad news. Please check the backend logic.');
                    }
                    return result;
                } else {
                    console.error('Error analyzing the buyers in the backend:', response.statusText);
                    alert('Error analyzing the buyers. Please try again.');
                }
            } catch (error) {
                console.error('Error analyzing the buyers:', error);
                alert('Error analyzing the buyers. Please try again.');
            }
        }

        function updateCostsPerBuyer(costsPerBuyer) {
            const costsPerBuyerJs = JSON.stringify(costsPerBuyer, null, 2);
            const costsPerBuyerDiv = document.getElementById('costsPerBuyerDiv');
            if (Object.keys(costsPerBuyer).length > 0) {
                costsPerBuyerDiv.innerHTML = `
                <h3>Costs per buyer:</h3>
                <pre>${costsPerBuyerJs}</pre>
                `;
            } else {
                costsPerBuyerDiv.innerHTML = '';
            }
        }

        function updateCardsPerBuyer(cardsPerBuyer) {
            const cardsPerBuyerDiv = document.getElementById('cardsPerBuyerDiv');
            let content = '';

            for (const [buyer, orders] of Object.entries(cardsPerBuyer)) {
                let totalCards = 0;
                let totalCost = 0;

                const cardNames = [];
                for (const [orderName, order] of Object.entries(orders)) {
                    for (const [cardName, [amount, cost]] of Object.entries(order)) {
                        totalCards += amount;
                        totalCost += cost;
                        cardNames.push(amount + ' ' + cardName);
                    }
                }
                numDifferentCards = cardNames.length

                content += `
            <h3>Buyer ${buyer}:</h3>
            <p>Total Cost (without shipping): ${totalCost.toFixed(2)}</p>
            <p>Cards - ${numDifferentCards} different, ${totalCards} in total:</p>
            <pre>${cardNames.join('\n')}</pre>
            `;
            }

            if (content) {
                cardsPerBuyerDiv.innerHTML = `
            <h3>Cards per buyer:</h3>
            ${content}
            `;
            } else {
                cardsPerBuyerDiv.innerHTML = '';
            }
        }

        function updateNotFoundInfo(notFoundCards) {
            const notFoundCardsJs = JSON.stringify(notFoundCards, null, 2)
            const numDifferentCards = Object.keys(notFoundCards).length
            const numNotFoundCards = Object.values(notFoundCards).reduce((acc, val) => acc + val, 0)
            const notFoundDiv = document.getElementById('notFoundCardsDiv');
            if (Object.keys(notFoundCards).length > 0) {
                notFoundDiv.innerHTML = `
                <h3>Wanted Cards but not found in the order - ${numDifferentCards} different cards, ${numNotFoundCards} in total:</h3>
                <pre>${notFoundCardsJs}</pre>
                `;
            } else {
                notFoundDiv.innerHTML = '';
            }
        }

        function updateSpareInfo(spareCards) {
            const spareCardsJs = JSON.stringify(spareCards, null, 2)
            const numDifferentCards = Object.keys(spareCards).length
            const spareCardsDiv = document.getElementById('spareCardsDiv');
            if (Object.keys(spareCards).length > 0) {
                spareCardsDiv.innerHTML = `
                <h3>Spare Cards per order - ${numDifferentCards} different cards:</h3>
                <pre>${spareCardsJs}</pre>
                `;
            } else {
                spareCardsDiv.innerHTML = '<h3>No spare cards found.</h3>';
            }
        }

        function getBuyerFields() {
            const textFields = document.querySelectorAll('#textFieldsContainer textarea');
            const buyerNames = document.querySelectorAll('#textFieldsContainer input[type="text"]');

            const fieldsData = Array.from(textFields)
                .map((field, index) => ({
                    buyer: buyerNames[index]?.value || `Buyer ${index + 1}`,
                    content: field.value
                }))
                .filter(field => field.content.trim() !== '');

            return fieldsData;
        }

        function clearFields() {
            document.getElementById('emailContent').value = '';
            const textFields = document.querySelectorAll('#textFieldsContainer textarea');
            textFields.forEach(field => field.value = '');
            document.getElementById('visualizationContainer').style.display = 'none';
        }
    </script>
</body>

</html>